        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>
        <li>
            <a href="#/ui"><i class="fa fa-magic"></i><span data-i18n="Manage Location"></span></a>
            <ul>
                <li><a href="#/country" ng-click="findCountry()"><i class="fa fa-caret-right"></i><span data-i18n="Country"></span></a></li>
                <li><a href="#/city" ng-click="findCity()"><i class="fa fa-caret-right"></i><span data-i18n="City"></span></a></li> 
                <li><a href="#/category" ng-click="findcategory()"><i class="fa fa-caret-right"></i><span data-i18n="EventCategory"></span></a></li>
                 <li><a href="#/event" ng-click="findEvent()"><i class="fa fa-caret-right"></i><span data-i18n="Event"></span></a></li>
                
                 <li><a href="#/comment" ng-click="findEvent()"><i class="fa fa-caret-right"></i><span data-i18n="Comment"></span></a></li>
                 <li><a href="#/news" ng-click="findEvent()"><i class="fa fa-caret-right"></i><span data-i18n="News"></span></a></li>
                 <li><a href="#/photo" ng-click="findEvent()"><i class="fa fa-caret-right"></i><span data-i18n="Photo"></span></a></li>
                 <li><a href="#/twittertag" ng-click="findEvent()"><i class="fa fa-caret-right"></i><span data-i18n="TwitterTag"></span></a></li>
                 <li><a href="#/user" ng-click="findEvent()"><i class="fa fa-caret-right"></i><span data-i18n="Users"></span></a></li>
                 <li><a href="#/video" ng-click="findEvent()"><i class="fa fa-caret-right"></i><span data-i18n="Video"></span></a></li>
            </ul>
        </li>
    </ul>
</div>