@charset 'utf-8';

.hdng-grey { color: #c5c5c5; }
.btn-guest { font-weight: 700; text-transform: uppercase; }
.plus-wrppr { border-radius: 50px; width: 18px; height: 18px; display: inline-block; text-align: center; border: 2px solid #ffffff; vertical-align: middle; margin-right: 5px; margin-top: -2px; }
.plus-wrppr > i { vertical-align: top; font-size: 10px; margin-top: 3px; }
.residents-list { height: 345px; overflow-y: scroll; }
.active-resident > p { color: #d3d3d3; text-transform: capitalize; font-weight: 700; }
.active-resident label{ font-size: 15px; margin-bottom: 0; text-transform: capitalize; }
.sort { color: #d4d4d4; font-size: 11px; margin-left: 8px; text-transform: none; }
.sort:hover, .sort:focus { text-decoration: none; }
.sort:nth-child(2) { margin-left: 50px; }
.sort.active { background-color: #a6a6a6; border-radius: 8px; padding: 0 5px; color: #ffffff; }
.guest-data { padding: 0; height: 345px; overflow-y: scroll; }
.guest-info { padding: 12px 18px 5px; border-bottom: 1px solid #f0f0f0; }
.status-info { border-right: 1px solid #f0f0f0; margin: -12px 0 -5px; padding: 12px 0 5px; }
.guest-status { background-color: #68bee0; border-radius: 10px 0 0 10px; color: #ffffff; font-size: 13px; font-weight: 700; margin-bottom: 5px; text-align: center; text-transform: uppercase; vertical-align: middle; } 
.arrival-time { color: #d0d0d0; font-size: 12px; font-weight: 700; padding-left: 12px; margin-bottom: 0; }
.guest-status.inactive { background-color: #e0e0e0; color: #b2b2b2; }
.guest-status.arrived { background-color: #e0e0e0; color: #b2b2b2; }
.signed-in { font-size: 12px; font-weight: 700; }
.btn-col { text-align: right; }
.btn-logout { color: #fd6a67; }
.bld { font-weight: 700; }
.btn-gray { color: #c5c5c5; }
.add-resident { padding: 15px; }
.btn-add-resdnt { background-color: #cfcfcf; color: #ffffff; border-color: #cfcfcf; font-weight: 700; }
.guest-search-form { text-align: center; }
.guest-search-form input { border-color: #d4d4d4; border-radius: 15px; border-width: 2px; font-size: 13px; height: 25px; padding-bottom: 0; padding-left: 12px; padding-top: 0; float: none; margin-left: auto; margin-right: auto; width: 300px; }
.guest-filter { padding: 20px 0; text-align: center; }
.guest-filter span a { color: #a0a0a0; }
.guest-filter span a:hover, .guest-filter span a:focus { color: #65cea7; text-decoration: none; }
.guest-filter span a.active { color: #65cea7; }
.guest-list { list-style-type: none; padding: 0; margin: 0; height: 500px; overflow-y: scroll;}
.guest-list > li { border-bottom: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0; color: #a0a0a0; margin: 3px 0; padding: 20px; text-transform: capitalize; }
.guest-list > li i { float: right; margin-top: -2px; color: #c0c0c0; }
.guest-list > li:hover, .guest-list > li:focus { background-color: #f8f8f8; cursor: pointer; }
.page-nav { padding: 0 15px; }
.hav-badge > li { padding: 12px; }
.hav-badge > li i { margin-top: 0; }
.sml-badge > label { margin-top: 5px; padding: 0 5px; border-radius: 2px; font-size: 10px; }
.guard-notes { background-color: #f9f9f9; border-bottom: 1px solid #e0e0e0; margin: -15px -15px 0; padding: 0 30px 15px; }
.hdng-guard { color: #808080; font-size: 16px; margin-left: 15px; }
.notes-txt { position: relative; background: #ffffff; border: 1px solid #e0e0e0; padding: 15px; margin-top: 15px; }
.arrow-tip-border { width: 0; height: 0; border-left: 16px solid transparent; border-right: 17px solid transparent; border-bottom: 16px solid #e0e0e0; left: 44px; position: absolute; top: -17px; }
.arrow-tip { width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-bottom: 15px solid #ffffff; left: 45px; position: absolute; top: -15px; }
.guest-detail { border: 1px solid #e0e0e0; padding: 15px; }
.guard-activty { background-color: #ffffff; margin: 0 -15px; padding: 15px 32px; border-top: 1px solid #e0e0e0; }
.guard-activty .panel-heading { padding-left: 0; }
.guard-comment { background: #ffffff; margin: 20px 15px 0; }
.guard-comment button { padding-left: 30px; padding-right: 30px; height : 50px; }
.guard-comment input { height: 50px; }

.active-resident span{
		font-size: 18px;
		border-radius: 50%;
		padding: 5px 5px 5px 5px;
		color:white;
	}

.help-block, .error{color:red !important;}
.success{color:green !important;}


.guest-detail {
	margin-top: 20px;
	background: white;
	padding: 10px 10px 10px 10px;
}

.guest-detail .button {
	float: right;
}


.menu-togle-1 { display:inline-block; float: left; }
.community-info { display:inline-block; padding-top:7px; }
.menu-right { display:inline-block; margin-top: 3px; }
/*.header-section { padding-top:10px; }
.menu-right { margin-top:-10px; }*/
.guest-name .fa-2x { margin-top: 7px !important; }
.sml-badge-1 > label { border-radius: 2px; font-size: 10px; margin-right: 5px; padding: 4px; }
.community-info p { margin-bottom:0; margin-left: 8px;}
.non-actv-cls {  cursor: pointer; padding:2px 2px 0 6px;}
.actv-cls { background-color: #E0E0E0; }
.labl-name { cursor: pointer; }
.non-actv-cls p { color:#b2b2b2;}
.panel-heading .btn-guest { margin-top: -4px; }
.guest-detail-status.inactive { background-color: #e0e0e0; color: #b2b2b2; }
.guest-detail-status.arrived { background-color: #e0e0e0; color: #b2b2b2; }

.guest-detail-status { background-color: #68bee0; color: #ffffff; font-size: 13px; font-weight: 700; 
	margin-bottom: 5px; text-align: center; text-transform: uppercase; vertical-align: middle; } 
.edit-1 { display: block; font-size: 15px; margin-left: 7px; margin-top: -5px; }
