<div data-ng-controller="tableCtrl">
    <!-- Country header start from  hear  -->
    <div class="row">
      <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                 Category
                </header>
                <div class="panel-body">
                    <form class="form-horizontal adminex-form" role="form" ng-submit="createCategory()">
                            <div class="form-group">
                                <div class="col-sm-11">
                                <input class="form-control" type="text" placeholder="Enter Category" data-ng-model="category">
                                </div>
                                 <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                    </form>
               </div>
               {{message}} 
            </section>
       </div>
    </div>
    <!--country header stop from hear  -->
    <!-- table start from hear  -->
    <header class="panel-heading">
    {{deletemessage}} {{editmessage}}
    </header>
    <div class="panel-body" data-ng-controller="ModalDemoCtrl">
        <div class="adv-table">
            <table  class="display table table-bordered table-striped" id="dynamic-table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeU" ng-repeat="category in categoryList.category">
                    <td>{{category ? category.category : 'No data found'}}</td>
                    <td><a href="" ng-click="open(category,'category')">Edit</a>&nbsp;&nbsp;<span><a href="" ng-click="deleteCategory(category,$index)">Delete</a></span></td>    
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- pop html and jquery start from hear  -->
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3>Edit Country</h3>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <div class="panel-body">
                            <form class="form-horizontal adminex-form" role="form" ng-submit="editCategory()">
                                <div class="form-group">
                                    <div class="col-sm-11">
                                        <input class="form-control" type="text" placeholder="Enter Category" data-ng-model="editcategoryname">

                                            <input class="form-control" type="hidden" data-ng-model="editcategoryid">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update</button>
                               </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
           </div>
           </form>
        </script>
        <!-- pop html and jquery stop from hear  -->
    </div>
</div>
<!-- table stop from hear  -->

