<div class="row">
	<div class="col-sm-4">
		<div class="guest-search-form">
			<form method="post" action="index.html" class="searchform">
           		<input type="text" placeholder="Search here..." name="keyword" ng-model="searchBox" class="form-control">
        	</form>
		</div>
		<div class="recent-guest" data-ng-init="findGuest()">
			<div class="guest-filter">
				<span>
					<a href="javascript:;">By Guest</a>
				</span>
				|
				<span>
					<a href="javascript:;">By Resident</a>
				</span>
			</div>
			<div class="recent-guest-body">
				<div>
					<ul class="guest-list hav-badge">
						<li class="guest-name" ng-click="showGuestDetali(guest)" ng-repeat="guest in guestentry | filter : searchBox"> {{guest.first_name + " " + guest.last_name}} <i class="fa fa-angle-right fa-2x"></i>
						<div class="sml-badge">
							<label class="guest-status {{guest.guest_pass_status}}">{{guest.guest_pass_status}}</label>
						</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="guard-notes">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="hdng-guard">Guard Notes</h3>
					
					<div class="notes-txt">
						<span class="arrow-tip-border"><i class="fa fa"></i></span>
					    <span class="arrow-tip"><i class="fa fa"></i></span>
						<p>The great and important duty which is incumbent on Christians, is to guard against all appearance of evil; to watch against the first risings in the heart to evil; and to have a guard upon our actions, that they may not be sinful, or so much as seem to be so.</p>
						<p>- George Whitefield </p>
					</div>
				</div>
			</div>
			<div class="guest-detail" ng-if="guestDetail != '' && guestDetail && guestDetail.parent_resident">
				<div class="row">
					<div class="col-sm-6">
						<h3 class="sml-badge-1"><label class="guest-status {{guestDetail.guest_pass_status}}">{{guestDetail.guest_pass_status}} </label>{{guestDetail.first_name + " " + guestDetail.last_name}}</h3>
					</div>
					<div class="col-sm-6">
						<div ng-if="guestDetail.guest_pass_status == 'active'" class="button">
							<a href="javascript:;" class="btn btn-success" ng-click="arrivedGuestPassStatus(guestDetail.id)">Arrived</a>
							<a href="javascript:;" class="btn btn-primary" ng-click="inactiveGuestPassStatus(guestDetail.id)">Sign Out</a>
						</div>
						<div ng-if="guestDetail.guest_pass_status == 'arrived'" class="button">
							<a href="javascript:;" class="btn btn-primary" ng-click="activeGuestPassStatus(guestDetail.id)">Sign In</a>
						</div>
						<div ng-if="guestDetail.guest_pass_status == 'inactive'" class="button">
							<a href="javascript:;" class="btn btn-primary" ng-click="activeGuestPassStatus(guestDetail.id)">Sign In</a>
						</div>
					</div>
				</div>
				<table class="table">
					<tr>
						<td>Phone</td>
						<td>{{guestDetail.mobile_phone}}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>{{guestDetail.email_address}}</td>
					</tr>
					<tr>
						<td>Current Status</td>
						<td>{{guestDetail.guest_pass_status}}</td>
					</tr>
				</table>
				<h4>Resident Detail</h4>
				<table class="table">
					<tr>
						<td>Name</td>
						<td>{{guestDetail.parent_resident.first_name + " " + guestDetail.parent_resident.last_name}}</td>
					</tr>
					<tr>
						<td>Phone</td>
						<td>{{guestDetail.parent_resident.mobile_phone}}</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>Address Line 1 : {{guestDetail.parent_resident.address_line1}}<br>Address Line 2 : {{guestDetail.parent_resident.address_line2}}</td>
					</tr>
				</table>

				<div ng-if="guestDetail.history">
		            <h2>History</h2>
		            <div class="recent-activity" ng-repeat="history in guestDetail.history">
		                <div ng-if="history.type=='resident'">
                            <p> {{getTimeFromDate(history.updatedAt)}} 
                                  <a href="javascript:;">
                                    {{history.parent_resident.first_name+" "+history.parent_resident.last_name}}
                                </a>
                                {{history.status}} guest 
                              
                                <a href="javascript:;">{{guestDetail.first_name+" "+guestDetail.last_name}}.</a>
                            </p>
                        </div>

                        <div ng-if="history.type=='guard'">
                            <p ng-if="history.status=='arrived'"> {{getTimeFromDate(history.updatedAt)}} 
                                  <a href="javascript:;">
                                    {{history.parent_resident.first_name+" "+history.parent_resident.last_name}}'s
                                </a>
                                 guest 
                              
                                <a href="javascript:;">{{guestDetail.first_name+" "+guestDetail.last_name}}</a> arrived at the gate.
                            </p>

                            <p ng-if="history.status!='arrived'"> {{getTimeFromDate(history.updatedAt)}} 

                                <a href="javascript:;">{{history.parent_guard.first_name+" "+history.parent_guard.last_name}}</a>
                                (Guard) {{history.status}} guest 
                                  <a href="javascript:;">
                                    {{guestDetail.first_name+" "+guestDetail.last_name}} .
                                </a>
                            </p>

                        </div>
		            </div>
		        </div>
			</div>
	</div>
	
	<div class="guard-comment">
			
		<div class="input-group m-bot15">
            <input type="text" class="form-control" placeholder="Enter COmmunity Message....">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default">Send</button>
              </span>
        </div>

	</div>

	<div class="guard-activty">
		<div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <header class="panel-heading">
                        Recent History
                    </header>
                    <div class="panel-body" data-ng-init="findHistory()">
                        <div class="row" ng-repeat="history in guestHistory track by $index">
                            <div class="col-sm-10">
                                <div ng-if="history.type=='resident'">
                                        <p> {{getTimeFromDate(history.updatedAt)}} 
                                              <a href="javascript:;">
                                                {{history.parent_resident.first_name+" "+history.parent_resident.last_name}}
                                            </a>
                                            {{history.status}} guest 
                                          
                                            <a href="javascript:;">{{history.parent_guest.first_name+" "+history.parent_guest.last_name}}.</a>
                                        </p>
                                    </div>
                                    <div ng-if="history.type=='guard'">
                                    
                                        <p ng-if="history.status=='arrived'"> {{getTimeFromDate(history.updatedAt)}} 
                                              <a href="javascript:;">
                                                {{history.parent_resident.first_name+" "+history.parent_resident.last_name}}'s
                                            </a>
                                             guest
                                          
                                            <a href="javascript:;">{{history.parent_guest.first_name+" "+history.parent_guest.last_name}}</a> arrived at the gate.
                                        </p>

                                        <p ng-if="history.status!='arrived'"> {{getTimeFromDate(history.updatedAt)}} 

                                            <a href="javascript:;">{{history.parent_guard.first_name+" "+history.parent_guard.last_name}}</a>
                                            (Guard) {{history.status}} guest 
                                              <a href="javascript:;">
                                                {{history.parent_guest.first_name+" "+history.parent_guest.last_name}}.
                                            </a>
                                        </p>

                                    </div>
                            </div>
                        </div>
                        <br>
                        <div>
                            <a href="javascript:;" ng-click="guestHistoryOptions.page=guestHistoryOptions.page+1;findHistory()">
                                <button class="btn btn-primary btn-guest">
                                    <span class="plus-wrppr"><i class="fa fa-plus"></i></span> More
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>