<div class="row">
	<div class="col-sm-4">
		<div class="guest-search-form">
			<form method="post" action="index.html" class="searchform">
           		<input type="text" placeholder="Search here..." name="keyword" class="form-control">
        	</form>
		</div>
		<div class="recent-guest" data-ng-init="findGuestEntry()">
			<div class="guest-filter">
				<span>
					<a href="javascript:;">By Guest</a>
				</span>
				|
				<span>
					<a href="javascript:;">By Resident</a>
				</span>
			</div>
			<div class="recent-guest-body">
				<div>
					<ul class="guest-list">
						<li class="guest-name" ng-click="showGuestDetali(guest)" ng-repeat="guest in guestentry"> {{guest.parent_guest.first_name + " " + guest.parent_guest.last_name}} <i class="fa fa-angle-right fa-2x"></i></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="guard-notes">
			<div>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<h3>Guard Notes</h3>
						
						<p>stackoverflow.com/questions/.../sails-js-populate-nested-associations
May 3, 2014 - Or you can use the built-in Blue Bird Promise feature to make it. (Working on Sails@v0.10.5). See the codes below: var _ = require('lodash'); ... Post .</p>

					<div class="col-sm-1"></div>
				</div>
			</div>
		</div>
	</div>
		<div class="guest-detail" ng-if="guestDetail != '' && guestDetail.parent_guest && guestDetail.parent_resident">
			<div>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<h3>Guest Detail</h3>
						<table class="table">
							<tr>
								<td>Guest Name</td>
								<td>{{guestDetail.parent_guest.first_name + " " + guestDetail.parent_guest.last}}</td>
							</tr>
							<tr>
								<td>Phone</td>
								<td>{{guestDetail.parent_guest.mobile_phone}}</td>
							</tr>
							<tr>
								<td>Resident Name</td>
								<td>{{guestDetail.parent_resident.first_name + " " + guestDetail.parent_resident.last_name}}</td>
							</tr>
							<tr>
								<td>Arrival Time & Date</td>
								<td>{{guestDetail.arrival_time + " " + guestDetail.arrival_date}}</td>
							</tr>
							<tr>
								<td>Current Status</td>
								<td>{{guestDetail.status}}</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<a href="javascript:;" class="btn btn-primary">Arrived</a>
									<a href="javascript:;" class="btn btn-primary">Active</a>
									<a href="javascript:;" class="btn btn-primary">Inactive</a>
								</td>
							</tr>
						</table>
					<div class="col-sm-1"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="guard-comment">
			
		<div class="input-group m-bot15">
            <input type="text" class="form-control" placeholder="Enter COmmunity Message....">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default">Send</button>
              </span>
        </div>

	</div>

	<div class="guard-activty">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="panel">
	                    <header class="panel-heading">
	                        Activities
	                    </header>
	                    <div class="panel-body" data-ng-init="findActivity()">
	                        <div class="row" ng-repeat="residentActivity in residentActivities.activity track by $index">
	                            <div class="col-sm-10" dynamic="residentActivity">
	                            </div>
	                        </div>
	                        <br>
	                        <div ng-show="residentActivities.total_activity > activity_limit">
	                            <a href="javascript:;" ng-click="activity_limit=activity_limit+10;findActivity()">
	                                <button class="btn btn-primary btn-guest">
	                                    <span class="plus-wrppr"><i class="fa fa-plus"></i></span> More
	                                </button>
	                            </a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	</div>
</div>