<div class="row" data-ng-init="guard()">
        <div class="col-sm-12">
        <section class="panel">
        <header class="panel-heading">
           Authorize and Unauthorize Guard User
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
        </header>
        <div class="panel-body">
        <div class="adv-table">
        <table  class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Mobile Number</th>
            <th class="hidden-phone">Email Address</th>
            <th class="hidden-phone">Activity</th>
        </tr>
        </thead>
        <tbody>

        <tr class="gradeX" ng-repeat="guard in guards">
            <td>{{guard.first_name}}</td>
            <td>{{guard.last_name}}</td>
            <td>{{guard.mobile_phone}}</td>
            <td>{{guard.email_address}}</td>
            <td>
                <span ng-if='guard.status=="active"' ng-click="deactiveGuardPermision(guard.id)" class="btn btn-danger">Deactive</span>
                <span ng-if='guard.status!="active"' ng-click="activeGuardPermision(guard.id)" class="btn btn-success">Active</span>
            </td>
        </tr>
        </tbody>
        <!-- <tfoot>
        <tr>
            <th>Rendering engine</th>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th class="hidden-phone">Engine version</th>
            <th class="hidden-phone">CSS grade</th>
        </tr>
        </tfoot> -->
        </table>
        </div>
        </div>
        </section>
        </div>
        </div>