<div class="row" data-ng-init="myGuestEntry()">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
               Guest Entry List
                <span class="tools pull-right">
                    <a href="#/r/new_guest_entry">Add Guest Entry</a>
                 </span>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table  class="display table table-bordered table-striped" id="dynamic-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Mobile Number</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        <tr class="gradeX" ng-repeat="guest_entry in guests_entry">
                            <td>{{guest_entry.parent_guest.first_name}} {{guest_entry.parent_guest.last_name}}</td>
                            <td>{{guest_entry.parent_guest.mobile_phone}}</td>
                            <td>{{guest_entry.arrival_date}}</td>
                            <td>{{guest_entry.arrival_time}}</td>
                            <td>{{guest_entry.guest_status}}</td>
                            <td><a href="#/r/guest_entry_edit" ng-click="guestEntryEdit(guest_entry)">Update</a>&nbsp;|&nbsp;
							<a href="#/r/guest_entry_edit" ng-click="guestEntryEdit(guest_entry)">Cancel</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>