
        <section class="panel" data-ng-init="myGuest()">
            <header class="panel-heading">
               Add Guest Entry
                <span class="tools pull-right">
                    <a href="#/r/new_guest"> Add Guest</a>
                 </span>
            </header>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6"><h3 class="{{guest_entry_message_class}}">{{guest_entry_message}}</h3></div>
                <div class="col-sm-3"></div>
            </div>
            <div class="panel-body">

                <form name="guest_entry_form" ng-submit="addGuestEntry(guest_entry_form)" novalidate>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2">
                            <label>Guest*</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" ng-model="guest_entry.parent_guest" name="parent_guest" required>
                                    <option value="">--Select Guest--</option>
                                    <option ng-repeat="guest in guests" value="{{guest.id}}">{{guest.first_name + " " + guest.last_name}}</option>
                                </select>
                                <span class="help-block" ng-show="guest_entry_form.parent_guest.$error.required  && guest_entry_form_submited">Please select Guest.</span>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2">
                            <label>Arrival Date*</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input datepicker readonly="readonly" type="text" placeholder="Arrival Date" class="form-control" ng-model="guest_entry.arrival_date" name="arrival_date" required>
                                <span class="help-block" ng-show="guest_entry_form.arrival_date.$error.required  && guest_entry_form_submited">Please enter arrival date.</span>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2">
                            <label>Arrival Time*</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input timepicker readonly="readonly" type="text" placeholder="Arrival Time" class="form-control" ng-model="guest_entry.arrival_time" name="arrival_time" required>
                                <span class="help-block" ng-show="guest_entry_form.arrival_time.$error.required  && guest_entry_form_submited">Please enter arrival time.</span>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <button type="submit" href="javascript:;" class="btn btn-primary">Add</button>
                            <a href="#/r/manage_guest_entry" class="btn btn-primary">Cancel</a>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </form>
            </div>
        </section>